@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width:400px) {
    

#not-found{
    width: 300px;
}
}
@media (max-width:300px) {
    
.cards{
    width: 100%;
}
#not-found{
    width: 250px;
}
}